@font-face{
  font-family: Montserrat;
  font-style: italic;
  font-weight: 100;
  src: local("Montserrat Thin Italic"),local(Montserrat-ThinItalic),url(//fonts.gstatic.com/s/montserrat/v15/JTUOjIg1_i6t8kCHKm459WxZqh7q29c.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v15/JTUOjIg1_i6t8kCHKm459WxZqh7k29M.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v15/JTUOjIg1_i6t8kCHKm459WxZqh7q29U.woff) format("woff");
}

@font-face{
  font-family: Montserrat;
  font-style: italic;
  font-weight: 200;
  src: local("Montserrat ExtraLight Italic"),local(Montserrat-ExtraLightItalic),url(//fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZBg_z8vZ0.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZBg_z_PZw.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZBg_z8vZ2.woff) format("woff");
}

@font-face{
  font-family: Montserrat;
  font-style: italic;
  font-weight: 300;
  src: local("Montserrat Light Italic"),local(Montserrat-LightItalic),url(//fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZYgzz8vZ0.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZYgzz_PZw.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZYgzz8vZ2.woff) format("woff");
}

@font-face{
  font-family: Montserrat;
  font-style: italic;
  font-weight: 400;
  src: local("Montserrat Italic"),local(Montserrat-Italic),url(//fonts.gstatic.com/s/montserrat/v15/JTUQjIg1_i6t8kCHKm459WxRxy7i.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v15/JTUQjIg1_i6t8kCHKm459WxRyS7m.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v15/JTUQjIg1_i6t8kCHKm459WxRxy7g.woff) format("woff");
}

@font-face{
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  src: local("Montserrat Medium Italic"),local(Montserrat-MediumItalic),url(//fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZOg3z8vZ0.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZOg3z_PZw.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZOg3z8vZ2.woff) format("woff");
}

@font-face{
  font-family: Montserrat;
  font-style: italic;
  font-weight: 600;
  src: local("Montserrat SemiBold Italic"),local(Montserrat-SemiBoldItalic),url(//fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZFgrz8vZ0.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZFgrz_PZw.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZFgrz8vZ2.woff) format("woff");
}

@font-face{
  font-family: Montserrat;
  font-style: italic;
  font-weight: 700;
  src: local("Montserrat Bold Italic"),local(Montserrat-BoldItalic),url(//fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZcgvz8vZ0.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZcgvz_PZw.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZcgvz8vZ2.woff) format("woff");
}

@font-face{
  font-family: Montserrat;
  font-style: italic;
  font-weight: 800;
  src: local("Montserrat ExtraBold Italic"),local(Montserrat-ExtraBoldItalic),url(//fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZbgjz8vZ0.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZbgjz_PZw.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZbgjz8vZ2.woff) format("woff");
}

@font-face{
  font-family: Montserrat;
  font-style: italic;
  font-weight: 900;
  src: local("Montserrat Black Italic"),local(Montserrat-BlackItalic),url(//fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZSgnz8vZ0.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZSgnz_PZw.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v15/JTUPjIg1_i6t8kCHKm459WxZSgnz8vZ2.woff) format("woff");
}

@font-face{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 100;
  src: local("Montserrat Thin"),local(Montserrat-Thin),url(//fonts.gstatic.com/s/montserrat/v15/JTUQjIg1_i6t8kCHKm45_QpRxy7i.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v15/JTUQjIg1_i6t8kCHKm45_QpRyS7m.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v15/JTUQjIg1_i6t8kCHKm45_QpRxy7g.woff) format("woff");
}

@font-face{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  src: local("Montserrat ExtraLight"),local(Montserrat-ExtraLight),url(//fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_aZA3gfD-g.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_aZA3gnD_g.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_aZA3gfD-A.woff) format("woff");
}

@font-face{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat Light"),local(Montserrat-Light),url(//fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD3gfD-g.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD3gfD-A.woff) format("woff");
}

@font-face{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"),local(Montserrat-Regular),url(//fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wdhzw.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459WdhzQ.woff) format("woff");
}

@font-face{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat Medium"),local(Montserrat-Medium),url(//fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gfD-g.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gfD-A.woff) format("woff");
}

@font-face{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"),local(Montserrat-SemiBold),url(//fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gfD-g.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gfD-A.woff) format("woff");
}

@font-face{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"),local(Montserrat-Bold),url(//fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gfD-g.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gfD-A.woff) format("woff");
}

@font-face{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  src: local("Montserrat ExtraBold"),local(Montserrat-ExtraBold),url(//fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gfD-g.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gfD-A.woff) format("woff");
}

@font-face{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  src: local("Montserrat Black"),local(Montserrat-Black),url(//fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_epG3gfD-g.eot?#) format("eot"),url(//fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_epG3gnD_g.woff2) format("woff2"),url(//fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_epG3gfD-A.woff) format("woff");
}

@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeAZFhjg.woff) format("woff");
}

@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 200;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyfAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyfAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyfAZFhjg.woff) format("woff");
}

@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZFhjg.woff) format("woff");
}

@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZFhjg.woff) format("woff");
}

@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZFhjg.woff) format("woff");
}

@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZFhjg.woff) format("woff");
}

@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZFhjg.woff) format("woff");
}

@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyYAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyYAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyYAZFhjg.woff) format("woff");
}

@font-face{
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuBWYAZFhjA.eot?#) format("eot"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuBWYAZ9hiA.woff2) format("woff2"),url(//fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuBWYAZFhjg.woff) format("woff");
}

:root{
  --index: calc(1vh + 1vw);
  --col-rs: 8.33333%;
  --container-rs: calc(100% - var(--col-rs));
  --header-height: calc(var(--index)*2);
  --scale--ratio: 0;
}

body{
  overflow-x: hidden;
}

figure{
  margin: 0;
}

header{
  padding-top: 36px;
  padding-bottom: 36px;
}

.container-rs{
  width: 91.66667%;
  width: 91.66667%;
  width: var(--container-rs);
  margin: 0 auto;
  overflow: hidden;
}

.btn-default{
  color: rgba(0, 0, 0, 0.75);
  font-family: Inter,sans-serif;
  font-size: calc(0.78125vw + 6px);
  font-style: normal;
  font-weight: 450;
  line-height: 150%;
  display: block;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  border-radius: 56px;
  background: #F1B705;
  padding: 0;
  outline: none;
  border: none;
  overflow: hidden;
  transition: .3s all;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.btn-default:focus{
    outline: none;
  }

.btn-default span{
    color: rgba(0, 0, 0, 0.75);
    font-family: Inter,sans-serif;
    font-size: calc(0.78125vw + 6px);
    font-style: normal;
    font-weight: 450;
    line-height: 150%;
    position: relative;
    display: block;
    padding: 14px 32px;
    box-sizing: border-box;
    transition: .3s all;
  }

.btn-default span:after{
      content: attr(text);
      position: absolute;
      left: 32px;
      top: calc(100% + 14px);
    }

.btn-default:hover{
    -webkit-text-decoration: none;
    text-decoration: none;
    border-radius: 56px;
    background: #FBCB37;
    box-shadow: 0px 24px 32px -20px rgba(241, 183, 5, 0.75);
  }

.btn-default:hover span{
      transform: translateY(-100%);
    }

.btn-transparent{
  padding: 13px 32px;
  border: 1px solid #000;
  display: block;
  background: transparent;
  border-radius: 56px;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: max-content;
  outline: none;
  overflow: hidden;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.btn-transparent span{
    color: rgba(0, 0, 0, 0.75);
    font-family: Inter,sans-serif;
    font-size: calc(0.78125vw + 6px);
    font-style: normal;
    font-weight: 450;
    display: block;
    padding: 0;
    transition: .3s all;
    position: relative;
  }

.btn-transparent span:after{
      content: attr(text);
      position: absolute;
      top: 200%;
      left: 0;
    }

.btn-transparent:hover{
    -webkit-text-decoration: none;
    text-decoration: none;
  }

.btn-transparent:hover span{
      transform: translateY(-200%);
    }

.btn-transparent:hover span:after{

      }

.header-logo{

  display: block;
}

.header-logo img{
    height: 100%;
    width: calc(5vh + 5vw);
    width: calc(5vh + 5vw);
    width: calc(var(--index)*5);
    -o-object-fit: contain;
       object-fit: contain;
  }

.header-menu{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  gap: calc(2.6vh + 2.6vw);
  gap: calc(2.6vh + 2.6vw);
  gap: calc(var(--index)*2.6);
  padding: 0;
  margin: 0;
}

.header-menu li{
    list-style: none;
    overflow: hidden;
    position: relative;


  }

.header-menu li:before{
      content: '';
      display: block;
      background: #F1B705;
      width: 40px;
      height: 4px;
      position: absolute;
      left: -100%;
      top: calc(100% - 4px);
      transform: scaleX(0);
      transition: .3s all;
    }

.header-menu li:hover:before{
        transform: scaleX(1);
        left: 0;
      }

.header-menu li a{
      color: #000;
      font-family: Inter,sans-serif;
      font-size: calc(0.78125vw + 6px);
      font-style: normal;
      font-weight: 450;
      line-height: 36px;
      position: relative;
      transition: .3s all;
      display: block;
    }

.header-menu li a:after{
        content: attr(text);
        position: absolute;
        left: 0;
        top: 100%;
      }

.header-menu li a:hover{
        transform: translateY(-100%);
      }

.header-lang{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  gap: calc(0.9vh + 0.9vw);
  gap: calc(0.9vh + 0.9vw);
  gap: calc(var(--index)*0.9);
  width: 8.33333%;
  width: 8.33333%;
  padding: 0;
  margin: 0;
}

.header-lang li{
    list-style: none;
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    align-items: center;
  }

.header-lang li:after{
      content: '';
      display: block;
      width: 1px;
      height: 26px;
      background: rgba(0, 0, 0, 0.10);
    }

.header-lang li:last-child{
      gap: 0;
    }

.header-lang li:last-child:after{
        display: none;
      }

.header-lang li:last-child:before{
        max-width: 100%;
      }

.header-lang li:before{
      content: '';
      display: block;
      height: 4px;
      display: block;
      background: #F1B705;
      position: absolute;
      top: calc(100% - 4px);
      width: 100%;
      transform: scaleX(0);
      left: -100%;
      transition: .3s all;
      max-width: 80%;
    }

.header-lang li:hover:before{
        transform: scaleX(1);
        left: 0%;
      }

.header-lang li a{
      color: #000;
      font-family: Inter,sans-serif;
      font-size: calc(0.78125vw + 6px);
      font-style: normal;
      font-weight: 450;
      line-height: 36px;
      display: block;
      position: relative;
      transition: .3s all;
    }

.header-lang li a:after{
        content: attr(text);
        position: absolute;
        left: 0;
        top: 100%;
      }

.header-lang li a:hover{
        transform: translateY(-100%);
      }

.main_banner{
  min-height: calc(98vh - 2vw - 72px);
  min-height: calc(98vh - 2vw - 72px);
  min-height: calc(100vh - var(--header-height) - 72px);
}

.main_banner .container-rs{
    min-height: calc(98vh - 2vw - 72px);
    min-height: calc(98vh - 2vw - 72px);
    min-height: calc(100vh - var(--header-height) - 72px);
  }

.main_banner .main_banner-subtitle{
    padding-top: 80px;
    color: rgba(0, 0, 0, 0.75);
    font-family: Inter,sans-serif;
    font-size: calc(0.78125vw + 6px);
    font-style: normal;
    font-weight: 350;
    line-height: 150%;
    width: 25%;
    margin-bottom: 40px;
  }

.main_banner .main_banner-title{
    color: #000;
    font-family: Montserrat,sans-serif;
    font-size: calc(8.46682vw + 8.24943px);
    font-style: normal;
    font-weight: 600;
    line-height: 92%;
    display: block;
    margin-bottom: calc(3.8vh + 3.8vw);
    margin-bottom: calc(var(--index)*3.8);
  }

.main_banner .main_banner-btns{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-end;
    top: 100%;
    justify-content: space-between;
    width: 76.38889%;
    width: 76.38889%;
    width: calc(83.33333% - var(--col-rs)/1.2);
  }

.main_banner .main_banner-btns .main_banner-btns--wrapper{
      width: 55.55556%;
      gap: calc(0.625vh + 0.625vw);
      gap: calc(0.625vh + 0.625vw);
      gap: calc(var(--index)/1.6);
    }

.main_banner .main_banner-btns .main_banner-text{
      width: calc(33.33333% + 0.625vh + 0.625vw);
      width: calc(33.33333% + 0.625vh + 0.625vw);
      width: calc(33.33333% + var(--index)/1.6);
      color: rgba(0, 0, 0, 0.75);
      font-family: Inter, sans-serif;
      font-size: calc(0.78125vw + 6px);
      font-style: normal;
      font-weight: 350;
      line-height: 150%;
    }

.main_banner .main_banner-image{
    width: 58.33333%;
    position: absolute;
    top: 0;
    right: -8.33333%;
    right: calc(0% - var(--col-rs));
    z-index: -1;
    background: url("../imgs/main-banner.svg") left top no-repeat;
    height: 100%;
  }

.main_banner .main_banner-image img,
    .main_banner .main_banner-image object{
      width: 100%;
      height: calc(26.5vh + 26.5vw);
      height: calc(var(--index)*26.5);
    }

.adv{
  padding-top: 160px;
  padding-bottom: 160px;
}

.adv .adv-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: calc(0.625vh + 0.625vw);
    gap: calc(0.625vh + 0.625vw);
    gap: calc(var(--index)/1.6);
    flex-wrap: wrap;
    justify-content: space-between;
  }

.adv .adv-list .adv-item{
      width: calc(25% - 0.625vh - 0.625vw);
      width: calc(25% - 0.625vh - 0.625vw);
      width: calc(25% - var(--index)/1.6);
      color: rgba(0, 0, 0, 0.75);
      font-family: Inter,sans-serif;
      font-size: calc(0.78125vw + 6px);
      font-style: normal;
      font-weight: 350;
      line-height:150%;
    }

/* 150% */

.adv .adv-list .adv-item object{
        max-width: 45px;
        margin-bottom: 24px;
      }

.categories{
  padding-bottom: 120px;
}

.categories .categories-image figure{
      position: relative;
      height: calc(24.5vh + 24.5vw);
      height: calc(var(--index)*24.5);
      width: calc(23vh + 23vw);
      width: calc(var(--index)*23);
    }

.categories .categories-image figure img{
        height: 100%;
      }

.categories .categories-image figure:after{
        content: '';
        display: block;
        background: url("../imgs/icons/categories-after.svg") left/cover no-repeat;
        width: calc(8.5vh + 8.5vw);
        width: calc(var(--index)*8.5);
        height: calc(5.4vh + 5.4vw);
        height: calc(var(--index)*5.4);
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(50%);
        mix-blend-mode: multiply;
      }

.categories .categories-elements{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }

.categories .categories-elements .categories-menu{
      padding: 0 0 0 44px;
      margin: 0 0 80px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
    }

.categories .categories-elements .categories-menu li{
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 6px;
        overflow: hidden;
      }

.categories .categories-elements .categories-menu li:after{
          content: '';
          display: block;
          width: 44px;
          height: 52px;
          -webkit-mask: url("../imgs/arrow-cat.svg") center no-repeat;
                  mask: url("../imgs/arrow-cat.svg") center no-repeat;
          background: #000;
          transition: .3s all;
        }

.categories .categories-elements .categories-menu li:hover a{
            color: #F1B705;
            transform: translateY(-100%);
          }

.categories .categories-elements .categories-menu li:hover:after{
            transform: translateX(6px);
            background: #F1B705;
          }

.categories .categories-elements .categories-menu li a{
          color: #000;
          font-family: Montserrat,sans-serif;
          font-size: 40px;
          font-style: normal;
          font-weight: 600;
          line-height: 52px;
          letter-spacing: -0.8px;
          transition: .3s all;
          position: relative;
          white-space: nowrap;
        }

.categories .categories-elements .categories-menu li a:after{
            content: attr(text);
            position: absolute;
            left: 0;
            top: 100%;
          }

.categories .categories-elements .categories-menu li a:hover{
            -webkit-text-decoration: none;
            text-decoration: none;
          }

.categories .categories-description{
    color: rgba(0, 0, 0, 0.75);
    leading-trim: both;
    text-edge: cap;
    font-family: Inter,sans-serif;
    font-size: calc(0.78125vw + 6px);
    font-style: normal;
    font-weight: 350;
    line-height: 150%; /* 150% */
    width: 50%;
    padding-left: 44px;
  }

.projects .projects-list{
    position: relative;
  }

.projects .projects-list .projects-item{
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
      cursor: pointer;
      border-bottom: 1px solid #000;
      padding: 32px 0;
      box-sizing: border-box;
    }

.projects .projects-list .projects-item .item-col{
        color: rgba(0, 0, 0, 0.50);
        font-family: Inter,sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 350;
        line-height: 24px;
      }

/* 171.429% */

.projects .projects-list .projects-item .item-col:first-child{
          width:33.33333%;
        }

.projects .projects-list .projects-item .item-col:nth-child(2){
          width:16.66667%;
        }

.projects .projects-list .projects-item .item-col:nth-child(3){
          width:41.66667%;
        }

.projects .projects-list .projects-item .item-col:last-child{
          width:8.33333%;
        }

.projects .projects-list .projects-item .item-col .item-title{
          color: #000;
          font-family: Montserrat;
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 120%; /* 28.8px */
          letter-spacing: -0.48px;
          margin-bottom: 23px;
        }

.projects .projects-list .projects-item .item-col .item-count{
          color: rgba(0, 0, 0, 0.10);
          font-family: Montserrat;
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: 40px; /* 100% */
          letter-spacing: 4px;
          transition: .3s all;
        }

.projects .projects-list .projects-item .item-col a{
         color: #000;
         font-family: Inter,sans-serif;
         font-size: 16px;
         font-style: normal;
         font-weight: 450;
         line-height: 20px; /* 125% */
         -webkit-text-decoration: underline;
         text-decoration: underline;
         display: block;
         margin-top: 16px;
       }

.projects .projects-list .projects-item .arrow object,
        .projects .projects-list .projects-item .arrow svg{
          stroke: #000;
          width: 40px;
          height: 40px;
          transition: .3s all;
        }

.projects .projects-list .projects-item:hover .arrow svg{
            transform: rotate(45deg);
            stroke: #F1B705;
          }

.projects .projects-list .projects-item:hover .item-col .item-count{
            color: #F1B705;
          }

#projects-frame{
  display: block;
  width: 464px;
  height: 272px;
  background-size: contain;
  position: absolute;
  z-index: 500;
  transform: scale(0) translate(-0%, -100%);
  transform-origin: 0% 0%;


}